@import 'base/variables';
@import 'fonts';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.heading {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    color: #0d0d0d;
    text-align: center;
}
@media (max-width: 1024px) {
    .container {
        max-width: 730px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 556px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .heading {
        font-size: 20px;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .heading {
        font-size: 20px;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';