@import 'base/variables';
@import 'fonts';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.heading {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    color: #0d0d0d;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #fff;
        text-align: left;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';


@import 'base/media';