.promo {
    min-height: 650px;
    padding: 21px 0px 93px 0px;
    background: url('../../img/promo/bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 42px;
        color: #fff;
        text-transform: uppercase;
    }
    &__subheader {
        margin-bottom: 0;
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        color:#fff;
        font-weight: 500;
        font-size: 16px;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        padding-bottom: 40px;
        min-height: 500px;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__icons {
            margin-top: 30px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        min-height: auto;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icons{
            width: 300px;
        }
        &__icon {
            font-size: 12px;
            img {
                width: 30px;
                margin-bottom: 10px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
}

@media (max-width: 425px) {
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 14px;
        }
    }
}